* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #FFFFFF;
    font-family: Helvetica Neue,Arial,sans-serif; 
    color: #00556F;
}


h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 5rem;
    text-shadow: 0 1.5px black;
    color: #FFFFFF;
    font-weight: 900;
  
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.5rem;
    text-shadow: 0 0.3px black;
    color: #FFFFFF;
    font-weight: 900;
    padding: 0 50px;
}

/* HEADER */

header {
    padding: 10px 200px 10px 200px;
    position: relative;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.header-contact {
    text-align: right;
    font-size: 0.90em;
}

/* TOP PART */

.top-part {
    background-image: url(Images/background-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo {
    text-align: center;
    padding-top: 150px;
    
}

.sub-titulo {
    text-align: center;
    padding-top: 50px;
    
}

/* BOTONES */

.btn-cta {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.btn-lg  {
    margin-top: 40px;
    background-color: #95D600;
    color: #FFFFFF;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.btn-sm {
    margin-top: 5px;
    background-color: #95D600;
    color: #FFFFFF;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.btn-abajo {
    margin-bottom: 0px;
}

/* CONTACT FORM */

.contact-form {
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    margin-top: 0px;
    padding: 50px 200px;
    box-shadow: 0px 0px 10px 3px #FFFFFF;
    text-align: center;
}

.contact-form1 {
    padding: 150px 7%;
    text-align: center;

}

hr {
    background: #FFFFFF;
    margin: 0px;
}

.label {
    font-size: 1.5em;
    color: #FFFFFF;
    text-shadow: 0 0.3px black;
    padding: 10px;  
}

/* FAQS */

.list {
    text-align: left;
    padding-top: 50px;
}

.sub-titulo-faq {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-faq {
    font-size: large;
}

.faqs {
    text-align: justify;
    margin: 7% 0;
}

a:hover {
    text-decoration: none;
}

li {
    font-size: x-large;
}

/********************************************************* RESPONSIVE ******************************************************************/

@media (max-width: 1300px) {
    .contact-form {
        padding: 50px 150px;
    }
}

@media (max-width: 1024px) {

    header {
        padding: 10px 100px 10px 100px;
    }

    h1 {
        font-size: 5rem;
    }

    .contact-form {
        padding: 50px 7%;
    }

  

}

@media (max-width: 768px) {

    header {
        padding: 10px 50px 10px 50px;
    }

    .header-contact {
        text-align: center;
        font-size: 0.75em;
    }

    h1 {
        font-size: 4rem;

    }

    h3 {
        font-size: 2rem;
        padding: 0 100px;
    }

    .titulo {
        padding-top: 50px;
}

    .contact-form {
    padding: 50px 7%;
}

    .footer-col {
        padding: 1% 100px !important;
    }

    .contact-form1 {
        padding: 50px 15%;
    }

    .label {
    font-size: 1.2em;
}

li {
    font-size: large;
}

h3 {
    padding: 0px;
}

}

@media (max-width: 480px) {
    header {
        text-align: center;
        padding: 10px;
    }

    .header-contact {
        text-align: center;
        font-size: 0.75em;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.5rem;
        padding: 25px 25px;
    }
    .contact-form {
        padding: 50px 50px;
    }

    .contact-form1 {
        padding: 25px 10%;
    }

    .btn-xlarge {
        padding: 10px 15px;
        font-size: 15px; 
    }
        .btn-lg {
            padding: 10px 15px;
            font-size: 15px; 
    
    }

.list {
    padding-top: 0px;
}

}

.footer-col {
    padding: 1% 50px;
}

@media (max-width: 380px) {

    .footer-col {
        padding: 1% 3% !important;
    }

    body:after {
        content:"";
          position:fixed; /* stretch a fixed position to the whole screen */
          top:0;
          height:100vh; /* fix for mobile browser address bar appearing disappearing */
          left:0;
          right:0;
          z-index:-1; /* needed to keep in the background */
          background: url(Images/background-img.png) center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }

}

/************************************************************* FOOTER SECTION ********************************************************/

.footer-div {
    margin: 0px;
}

.footer-col {
    padding: 1% 150px;
    text-align: center;
}

.footer-title {
    font-size: 1.5rem;
}

.logo-footer {
    padding-top: 5%;
    padding-bottom: 5%;
}

p {
    font-size: smaller;
}