* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #FFFFFF;
    font-family: 'Archivo Narrow', sans-serif;
    color: #00556F;
}


h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 5rem;
    text-shadow: 0 1.5px black;
    color: #FFFFFF;
    font-weight: 900;
  
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.5rem;
    text-shadow: 0 0.3px black;
    color: #FFFFFF;
    font-weight: 900;
    padding: 0 50px;
}

p {
    font-size: 1em;
}

/* HEADER */

header {
    padding: 10px 200px 10px 200px;
    position: relative;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.header-contact {
    text-align: right;
    font-size: 0.90em;
}

/* TOP PART */

.top-part {
    background-image: url(Images/background-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo {
    text-align: center;
    padding-top: 130px;
    
}

.sub-titulo {
    text-align: center;
    padding-top: 50px;
    
}

/* BOTTOM */

.bottom-part{
    background: #D3D3D3;
    color: #454444;
    margin-top: 10px;
    padding: 50px 250px;
    text-align: center;
}

.h3-faq {
    color: #454444 ;
}

.greyback {
    background: #D3D3D3;
    padding-top: 100px;
}

/* BOTONES */

.btn-cta {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}

.btn-lg  {
    margin-top: 30px;
    background-color: #95D600;
    color: #FFFFFF;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.btn-sticky {
    position: fixed;
  top: 85%;
  left: 95%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn-sm {
    
    margin-top: 5px;
    background-color: #95D600;
    color: #FFFFFF;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.btn-abajo {
    margin-bottom: 0px;
}

/* CONTACT FORM */

.contact-form {
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    margin-top: 0px;
    padding: 50px 200px;
    text-align: center;
}

.contact-form1 {
    padding: 150px 7%;
    text-align: left;
    

}

hr {
    background: #FFFFFF;
    margin: 0px;
}

.label {
    font-size: 1.2em;
    color: #FFFFFF;
    text-shadow: 0 0.3px black;
    padding: 0px;  
    margin: 0px;
}

.form-back {
    background: #00556F;
    padding: 30px;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.form-group {
    margin: 0px;
}

/* FAQS */

.list {
    text-align: center;
    padding: 20px;
    margin: 0 250px;
    background-color: #a5a3a3;
    box-shadow: 5px 5px 5px grey;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;
}

.sub-titulo-faq {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p-faq {
    font-size: 1.3em;
    margin: 0px;
    text-align: justify;

}

.faq-titulo {
    font-size: 3em;
    margin: 0px;
    padding-top: 0.5%;
    color: #454444 ;

}

.faqs {
    text-align: justify;
    margin: 4% 0;
}

a {
    color: white ;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/********************************************************* RESPONSIVE ******************************************************************/

@media screen and(max-width: 1300px) {
    .contact-form {
        padding: 50px 150px;
    }

    .list {
        margin: 0 150px;
    }

    .bottom-part{
        padding: 50px 150px;
    }
}

@media screen and(max-width: 1024px) {

    header {
        padding: 10px 100px 10px 100px;
    }

    h1 {
        font-size: 5rem;
    }

    .contact-form {
        padding: 50px 7%;
    }

    .list {
        margin: 0 100px;
    }

    .bottom-part{
        padding: 50px 100px;
    }

    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
    }

    .btn-sticky {
        left: 90%;
    }

}

@media screen and (max-width: 768px) {

    header {
        padding: 10px 50px 10px 50px;
    }

    .header-contact {
        text-align: center;
        font-size: 0.75em;
    }

    h1 {
        font-size: 4rem;

    }

    h3 {
        font-size: 2rem;
        padding: 0 100px;
    }

    .titulo {
        padding: 50px 50px;
}

.sub-titulo {
    padding: 25px 50px;
}

    .contact-form {
    padding: 50px 7%;
}

    .footer-col {
        padding: 1% 100px !important;
    }

    .contact-form1 {
        padding: 50px 15%;
    }

    .label {
    font-size: 1.2em;
}

.list {
    margin: 0 50px;
}

.bottom-part{
    padding: 30px 50px;
}

h3 {
    padding: 0px;
}

.faq-titulo {
    font-size: 2em;
}


}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .top-part {
        background: url(Images/background-img.png) no-repeat center center fixed;
    }
	
}


@media screen and (max-width: 480px) {
    header {
        text-align: center;
        padding: 10px;
    }

    .header-contact {
        text-align: center;
        font-size: 0.75em;
    }

    .titulo {
        padding: 75px 25px 0px;
    }

    .sub-titulo {
        padding: 0px;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.5rem;
        padding: 25px 25px;
    }
    .contact-form {
        padding: 25px 25px;
    }

    .contact-form1 {
        padding: 25px 10%;
    }

    .btn-xlarge {
        padding: 10px 15px;
        font-size: 15px; 
    }
        .btn-lg {
            padding: 10px 15px;
            font-size: 15px; 
    
    }

    .btn-cta {
        padding: 30px 0;
    }

    .list {
    padding-top: 0px;
}

.btn-sticky {
    left: 85%;
}

.titulo-faq {
    padding-top: 30px;
}

.sub-titulo-faq {
    padding-top: 30px;
}

}




@media screen and (max-width: 380px) {

    .footer-col {
        padding: 1% 3% !important;
    }


}

/************************************************************* FOOTER SECTION ********************************************************/

.footer-div {
    margin: 0px;
}

.footer-col {
    padding: 1% 150px;
    text-align: center;
}

.footer-title {
    font-size: 1.5rem;
}

.logo-footer {
    padding-top: 5%;
    padding-bottom: 5%;
}

p {
    font-size: smaller;
}